body{
    background-image: url("images/Space-Background-Images-1024x682.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0%;
}

.navbar ul{
    list-style: none;
    background-color: rgba(46, 45, 44, 0.788);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    border-radius: 50px;
    opacity: .8;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: rgb(0, 0, 0);
}

.navbar li{
    float: left;
    padding-left: 15%;
}

h1{
    font-size: 50px;
    width: 500px;
    margin-left: 20px;
    color: rgba(255, 166, 0, 0.808);
}

h2{
    font-size: 50px;
    width: 500px;
    margin-left: 30px;
    color: rgba(255, 166, 0, 0.808);
}

span{
    color: white;
}
.button1{
    width: 250px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin-left: 50px;
    font-size: 20px;
    line-height: 25px;
    background-color: rgba(255, 166, 0, 0.877);
    margin-bottom: 20px;
}

img{
    width: 450px;
    border-radius: 30px;
    margin-left: 30px;
    opacity: 0.8


}

header{
    position: sticky;
    top: 19px;
    z-index: 10; 
}

.signup{
    background-color: rgba(0, 0, 0, 0.521);
    padding: 40px;
    width: 250px;
    position: absolute;
    top: 250px;
    right: 180px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px whitesmoke, -5px -5px 5px whitesmoke ;
    
}

input{
    text-align: center;
    width: 240px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 18px;
    font-weight: 500px;
    padding: 10px;
    height: 35px
}
label{
    color: grey;
    font-size: 20px;
    padding-top: 10px;
}

select{
    background-color: transparent;
    color: grey;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding-top: 10px;
}

.button2{
    border: none;
    width: 250px;
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
    border-radius: 25px;
    background-color: aqua;
    margin-top: 15px;
}
.h1{
    color: aqua;
}
